<div class="card">
  <div class="card-content">
    <div class="card-title">Video List</div>
    <ul class="collection">
      <li
        class="collection-item"
        [class.active]="selectedVideoId === video.id"
        (click)="selectVideo(video)"
        *ngFor="let video of videoList"
      >
        <abc-video-card [video]="video"></abc-video-card>
      </li>
    </ul>
  </div>
</div>
