<div class="row">
  <div class="col s4">
    <abc-preview-list
      (setVideo)="setVideo($event)"
      [videoList]="videos | async"
      [selectedVideoId]="(selectedVideo | async)?.id"
    ></abc-preview-list>
  </div>
  <div class="col s4">
    <abc-video-player [video]="selectedVideo | async"></abc-video-player>
  </div>
  <div class="col s4">
    <abc-filter-views
      [searchTerm]="searchTerm | async"
      (updateTerm)="updateTerm($event)"
    ></abc-filter-views>
  </div>
</div>
